<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187538472244-ci3kj07230rm2lud5i14jamp7am550cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187538472244-ci3kj07230rm2lud5i14jamp7am550cn</string>
	<key>API_KEY</key>
	<string>AIzaSyCg2tLHj2hIKnQImFEWcgHrko8_S8dS39g</string>
	<key>GCM_SENDER_ID</key>
	<string>187538472244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musik</string>
	<key>PROJECT_ID</key>
	<string>musik-7126c</string>
	<key>STORAGE_BUCKET</key>
	<string>musik-7126c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187538472244:ios:3d3d3df20000db3fedf961</string>
</dict>
</plist>